<a href="https://colab.research.google.com/github/poet-siva/Set-Dictionary-Essential/blob/main/Set_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#List functions

In [ ]:
l =[10,20,30,40,50]
print (l)
l.append(60)
print (l)
l.append(80)
print (l)
l.append('Siva')
print(l)
l.extend([900,600,577,321,432])
print (l)
print (l.count(20))
print (l.index(50))
l.remove(40)
print (l)
l.insert(2,99)
print (l)
l.insert(5, "Adhi")
print (l)
print(len(l))
l.reverse()
print (l)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60, 80]
[10, 20, 30, 40, 50, 60, 80, 'Siva']
[10, 20, 30, 40, 50, 60, 80, 'Siva', 900, 600, 577, 321, 432]
1
4
[10, 20, 30, 50, 60, 80, 'Siva', 900, 600, 577, 321, 432]
[10, 20, 99, 30, 50, 60, 80, 'Siva', 900, 600, 577, 321, 432]
[10, 20, 99, 30, 50, 'Adhi', 60, 80, 'Siva', 900, 600, 577, 321, 432]
14
[432, 321, 577, 600, 900, 'Siva', 80, 60, 'Adhi', 50, 30, 99, 20, 10]

In [ ]:
#WAP to accept n number from the user and perform it's addition.

In [ ]:
l=[]
n = int (input ("How many numbers you want to insert: "))
for i in range (n):
    temp= float(input ())
    l.append(temp)
print (l)
print (sum(l))

How many numbers you want to insert: 5
6
8
9
2
5
[6.0, 8.0, 9.0, 2.0, 5.0]
30.0

#To arrenge the numbers in descending order then use this

In [ ]:
l = [80,67,89,90,100]
print (l)
l.sort(reverse=True)
print (l)
l.sort(reverse=False)
print (l)
l.remove(89)
print (l)
l.pop(3) #passed index position to be popped
print (l)

[80, 67, 89, 90, 100]
[100, 90, 89, 80, 67]
[67, 80, 89, 90, 100]
[67, 80, 90, 100]
[67, 80, 90]

 Tuples don't have any functions because they are fixed, that is immutable

#Sets
 
It is unordered and unindexed

In [ ]:
l= {80,70,50,12,100}
print (l)
print (type (l)) #unordered
print (l[1]) #unindexed

{100, 70, 12, 80, 50}
<class 'set'>

TypeError: ignored

In [ ]:
set ={"apple", "banana", "pineapple"}
print (set)
print (len(set))
print ("banana" in set)
print ("apple" in set)
set.add("orange")
print (set)

{'banana', 'pineapple', 'apple'}
3
True
True
{'banana', 'pineapple', 'orange', 'apple'}

It will not allow duplicate values

Sets are unique

To convert a set into list

In [ ]:
set = { "banana" , "apple", "watermelon"}
l = list (set)
print (l)

['banana', 'watermelon', 'apple']

In [ ]:
set = { "banana" , "apple", "watermelon"}
tropical = { "papaya", "orange", "mango"}
set.update(tropical)
print (set)

{'banana', 'watermelon', 'apple', 'mango', 'papaya', 'orange'}

#Dictionary
 
It is stored in the form of {KEY : VALUE}

In [ ]:
#Keys are fixed  and Values are mutable

In [ ]:
d = {1:10000, 2:20000, 3:30000, 4:33000}
print (d)

{1: 10000, 2: 20000, 3: 30000, 4: 33000}

In [ ]:
d = {2.34:50000, 6.89:670, 8.675:6000}
print (d)

{2.34: 50000, 6.89: 670, 8.675: 6000}